@import "tailwindcss";

*{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: "mono", sans-serif;
  /* background-color: #e7eaf1; */
  /* background-color: #383838; */
  /* background-color: #0a0a0a;*/ /*dark*/
  background: #f5f5f5; 
  /*lmode*/
  /* color: #e7eaf1; */
  color: #0a0a0a;
  /*lmode*/
  /* color: #f3f3f3; dmode */
  /* overflow: hidden; */
}

@theme {
    --color-chestnut: #973F29;
    /*pwede rin mga font and bg etc*/
    --primary-accent: #13213C;
    --primary-base: #030303;
    --secondary-palette: #FDFDFD;
    --secondary-palette1: #E5E5E5;
    --secondary-accent: #FCA311;
}

@layer base {
    h1 {
        /* @apply font-mono */
    }
    p {
        /* @apply text-center */
    }
    /* *{
      @apply bg-[#f5f5f5] dark:bg-[#0a0a0a]
    } */
}

@layer components {
    .dark {
        @apply  dark:bg-[#0a0a0a] dark:text-[#f3f3f3]
    }
    .light {
      @apply bg-[#f5f5f5] text-[#0a0a0a];
    }

    .responsive-color {
        @apply max-sm:bg-amber-500
        max-md:bg-cyan-500 
        max-lg:bg-gray-500 
        max-xl:bg-yellow-500 
        max-2xl:bg-red-500
    }

    .Loading {
      @apply fixed inset-0 z-50 bg-transparent flex flex-col items-center justify-center
    }
    .loading-container {
      @apply flex flex-col items-center
    }
    .loading-text {
      @apply mb-4 text-4xl font-bold
    }
    .loading-type {
      /* @apply animate-blink ml-1 */
    }
    .loading-bar {
      @apply w-[200px] h-[2px] rounded relative overflow-hidden bg-blue-100/20
    }

    .bg-gradient {
      @apply h-screen w-full;
      background-image: 
        linear-gradient(to bottom, transparent 50%, #2d3d33),
        linear-gradient(to right, #a2a74d, #53a36b);
    }


}

@utility flex-center {
    @apply flex justify-center items-center
}


@layer utilities {

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
  .font-color {
    @apply text-blue-600
  }
  /* [#5e9343] */
  .font-hover {
    @apply hover:text-blue-600 transition-colors
  }

  .p-second {
    @apply text-[#8e8e8e]
  }
  .footer-a {
    @apply hover:text-blue-600 transition-colors
  }

  .glass {
    @apply flex flex-col md:flex-row gap-6 w-full items-center
     rounded-xl p-6 dark:bg-[#262626] bg-[#fafafa]
    border-white/5 border shadow-md dark:text-[#f3f3f3] text-[#0a0a0a]
  }
  .card {
    @apply flex flex-col-reverse md:flex-row items-center rounded-xl p-5  dark:bg-[#262626] bg-[#fafafa]
    border-white/5 border shadow-md dark:text-[#f3f3f3] text-[#0a0a0a]
     /* bg-[#f5f5f5]/90 border-white/10 border */
  }
  .share-icon{
    @apply w-4 h-4 mt-1.5 dark:filter dark:invert
  }
  .logos {
    @apply w-full h-full object-cover group-hover:blur-md transition-all duration-500 ease-in-out
  }
  .logos-text {
    @apply absolute inset-0  bg-black/10  opacity-0 group-hover:opacity-50
               flex items-center justify-center transition-opacity duration-500
  }
  .logos-span {
    @apply dark:text-[#f3f3f3] text-[#0a0a0a]
  }

  
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}
.reveal.visible{
  opacity: 1;
  transform: translateY(0);
}