@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #233831;
  color: #8FDCC2;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

@theme {
    --color-chestnut: #973F29;
    /*pwede rin mga font and bg etc*/
}

@layer base {
    h1 {
        /* @apply font-mono */
    }
    p {
        /* @apply text-center */
    }
}

@layer components {
    .dark {
        @apply bg-white dark:bg-black text-black dark:text-white
    }
    .responsive-color {
        @apply max-sm:bg-amber-500
        max-md:bg-cyan-500 
        max-lg:bg-gray-500 
        max-xl:bg-yellow-500 
        max-2xl:bg-red-500
    }

    .Loading {
      @apply fixed inset-0 z-50 bg-transparent flex flex-col items-center justify-center
    }
    .loading-container {
      @apply flex flex-col items-center
    }
    .loading-text {
      @apply mb-4 text-4xl font-bold
    }
    .loading-type {
      /* @apply animate-blink ml-1 */
    }
    .loading-bar {
      @apply w-[200px] h-[2px] rounded relative overflow-hidden bg-blue-100/20
    }

    .bg-gradient {
      @apply h-screen w-full;
      background-image: 
        linear-gradient(to bottom, transparent 50%, #2d3d33),
        linear-gradient(to right, #a2a74d, #53a36b);
    }

}

@utility flex-center {
    @apply flex justify-center items-center
}


@layer utilities {

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  .footer-section {
      @apply p-6 mt-10
    }
    .footer-container {
      @apply max-w-6xl mx-auto
    }
    .footer-logoNav {
      @apply flex justify-between items-center flex-wrap
    }
    .footer-logoNavh1 {
      @apply text-lg font-semibold
    }
    .footer-nav {
      @apply flex space-x-6 text-sm
    }
    .footer-a {
      @apply hover:text-[#D4EDE4] transition-colors
    }
    .footer-hr {
      @apply my-4 border-green-200
    }
    .footer-bottom {
      @apply flex max-sm:flex-col justify-between items-center flex-wrap
    }
    .footer-p {
      @apply text-sm max-sm:mb-2.5
    }
    .footer-container-logo {
      @apply flex space-x-4 text-2xl max-sm:mb-2.5
    }
  
}